version: 2
updates:
  # Enable version updates for Python dependencies
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "python"
    assignees:
      - "stopazus"
    groups:
      python-minor-patch:
        update-types:
          - "minor"
          - "patch"
  
  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github-actions"
    assignees:
      - "stopazus"
    groups:
      github-actions-minor-patch:
        update-types:
          - "minor"
          - "patch"
